services:
  bot:
    build: .
    ports:
      - "127.0.0.1:8081:8081"
    env_file:
      - .env
    volumes:
      - ./logs/:/app/logs/
    entrypoint: bash
    command: >
      -c '
      set -e
      
      mkdir -p /app/logs;
      chown -R nonroot:nonroot /app/logs || true;
      chmod -R u+rwX /app/logs;

      python main.py;
      '
