services:
  bot:
    build: .
    ports:
      - "127.0.0.1:8081:8081"
    env_file:
      - .env
    volumes:
      - ./logs/:/app/logs/
    entrypoint: bash
    command: >
      -c '
      python main.py;
      '

    
